@import '~styles/theme.less';

:global {
    .drawer-layout-wrapper {
        .ant-layout-sider {
            background-color: #fff;
            transition: all 0.3s ease;
        }
        .ant-form-vertical .ant-form-item-control {
            white-space: nowrap;
        }
    }
}

.drawer-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.drawer-sidebar-inner {
    padding: 16px;
    :global {
        button {
            width: 100%;
            margin-bottom: 10px;
        }
        .ant-form-item {
            margin-bottom: 12px;
            padding-bottom: 0;
        }
        .ant-form-item-label {
            padding-bottom: 0;
        }
    }
}
